.main {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-image: url("../../assets/tickets-bg.jpg");
  background-size: cover;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  gap: 0.5rem;
}

.text {
  color: rgb(10, 10, 10);
  font-weight: 600;
}

.bullettext {
  background-color: rgb(0, 0, 0);
  padding: 0.25rem 1.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 0.4rem;
  color: var(--tgui--button_color);
}
