.header {
  background-color: var(--tgui--button_color);
  padding: 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0 !important;
}

.headertext {
  display: flex;
  flex-direction: column;
  color: "red";
}

.img {
  border-radius: 999px;
  width: 2.5rem;
  height: 2.5rem;
}
